<?php
header('Content-type: text/css');
?>

* {
	margin: 0;
}

article h3 {
	margin-left: 0.5em;
	margin-right: 1em;
}

article p {
	margin-left: 1em;
	margin-right: 3em;
}

aside.card {
	height: 39em;
}

body {
	background-color: lightblue;
}

div table {
	border: #007bff solid 0.18em !important;
}

figure {
	padding-left: 3rem;
}

footer {
	background-color: #1BC0DA;
}

footer p {
	padding-left: 1em;
}

footer, .push {
	height: 3em; /* '.push' must be the same height as 'footer' */
}

html, body {
	height: 100%;
}

nav {
	background-color: #1BC0DA;
}

pre {
	background-color: white;
}

.btn-link {
	color: black;
	font-size: 1.75rem;
    font-weight: 500;	
    line-height: 1.2;
	margin-bottom: 0.5rem;
}

.card-body.page-card-content {
	background-color: lightblue;
}

.card-header {
	background-color: #1BC0DA;
}

.carousel_img {
	height: 10rem;
}

.date-modification {
	font-size: 0.8rem;
}

.dropdown-menu {
	background-color: #1BC0DA;
	list-style-type: none;
}

.dropdown-toggle.active-dropdown::after {
    transform: rotate(-90deg);
}

.img-thumbnail {
	margin: 0.3em 1em 0em 1em;
}

.page-title {
	margin-bottom: 1em;
	margin-top: 1em;
}

.profile {
	height: 24em;
	width: 18em;
}

.resume {
	height: 40em;
}

.wrapper {
	min-height: 100%;
	margin: 0 auto -3em; /* the bottom margin is the negative value of the footer's height */
}

#bottom {
	margin-bottom: 2rem;
}

#dust {
	width: 25rem;
}

/*

Sticky Footer by Ryan Fait
http://ryanfait.com/
* | html, body | .wrapper | footer, .push
*/
/*
     FILE ARCHIVED ON 20:37:33 Jun 29, 2016 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 03:15:13 Jul 30, 2019.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/


