body {
	background-color: lightblue;
}

footer {
	background-color: #1BC0DA;
}

footer p {
	padding-left: 1em;
}

nav {
	background-color: #1BC0DA;
}

.dropdown-menu {
	background-color: #1BC0DA;
}

.page-title {
	margin-bottom: 1em;
	margin-top: 1em;
}

