article h3 {
	margin-left: 0.5em;
	margin-right: 1em;
}

article p {
	margin-left: 1em;
	margin-right: 3em;
}

aside.card {
	height: 39em;
}

body {
	background-color: lightblue;
}

figure {
	padding-left: 3rem;
}

footer {
	background-color: #1BC0DA;
}

footer p {
	padding-left: 1em;
}

nav {
	background-color: #1BC0DA;
}

pre {
	background-color: white;
}

.btn-link {
	color: black;
	font-size: 1.75rem;
    font-weight: 500;	
    line-height: 1.2;
	margin-bottom: 0.5rem;
}

.card-body.page-card-content {
	background-color: lightblue;
}

.card-header {
	background-color: #1BC0DA;
}

.carousel_img {
	height: 10rem;
}

.date-modification {
	font-size: 0.8rem;
}

.dropdown-menu {
	background-color: #1BC0DA;
	list-style-type: none;
}

.img-thumbnail {
	margin: 0.3em 1em 0em 1em;
}

.page-title {
	margin-bottom: 1em;
	margin-top: 1em;
}

.profile {
	height: 24em;
	width: 18em;
}

.resume {
	height: 40em;
}

#bottom {
	margin-bottom: 2rem;
}

#dust {
	width: 25rem;
}

