<?php
header('Content-type: text/css');
?>
* {
	margin: 0;
}
html, body {
	height: 100%;
}
.wrapper {
	min-height: 100%;
	margin: 0 auto -2.5em; /* the bottom margin is the negative value of the footer's height */
}
footer, .push {
	height: 2.5em; /* '.push' must be the same height as 'footer' */
}

/*

Sticky Footer by Ryan Fait
http://ryanfait.com/

*/
/*
     FILE ARCHIVED ON 20:37:33 Jun 29, 2016 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 03:15:13 Jul 30, 2019.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  LoadShardBlock: 22.441 (3)
  esindex: 0.008
  captures_list: 36.501
  CDXLines.iter: 10.546 (3)
  PetaboxLoader3.datanode: 29.257 (4)
  exclusion.robots: 0.144
  exclusion.robots.policy: 0.132
  RedisCDXSource: 0.691
  PetaboxLoader3.resolve: 96.006
  load_resource: 105.123
*/